html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  
}

body {
	overflow: auto;
}

body, h3, h4, h5, .wrapper, .content, .projects, .projectwrapper, div {
	font-family: "Julius Sans One", sans-serif;
	margin: 0;
  	padding: 0;
  	border: 0;

}

@media only screen (max-width: 500) {
	.me {
		width: 150px;
	}

	.content .projectwrapper {
		flex-flow: column;
	}
}

.wrapper {
	display: flex;
	min-width: 500px;
}

.me {
	height: 1000px;
	min-width: 13em;
	width: 20%;
	background-image: url("../images/bluegradient.jpg");
	background-repeat: no-repeat;
	background-size: 50% 100%;
	text-align: center;
}

.me h3 {
	font-family: "Crimson Text", serif;
}

.me img {
	height: 11em;
	width: 13em;
	margin-top: 1.5em;
}

.content {
	flex: 1;
	height: 1000px;
}

.content .background {
	background-image: url("../images/fjord.jpg");
	background-size: cover;
	background-position: center;
	opacity: 0.6;
	height: 1000px;
}

.content .aboutme h3 {
	position: relative;
	margin-top: -62rem;
	padding-left: 1.5rem;
	font-size: 4em;
	font-family: "Cedarville Cursive", sans-serif;
}

.content .aboutme h4 {
	position: relative;
	padding-left: 2.5rem;
	font-size: 2em;
	font-family: "Crimson Text", serif;
}

.content .aboutme h5 {
	position: relative;
	font-family: "Crimson Text", serif;
	font-size: 1.5em;
	padding-left: 2.5rem;
	padding-top: 1.5rem;
}

.content .projects h3 {
	position: relative;
	text-align: center;
	font-size: 4em;
	font-family: "Cedarville Cursive", sans-serif;
	padding-top: 6rem;
}

.content .projectwrapper {
	display: flex;
	flex-flow: row;
	justify-content: center;
	margin-top: 6em;
}

.content .projectwrapper .project1, .project2, .project3 {
	height: 200px;
	width: 200px;
	background-size: 100% 100%;
	position: relative;
	margin-right: 40px;
	margin-left: 40px;
}

.content .projectwrapper .project1 {
	order: 1;
	background-image: url("../images/aboutme.JPG");
	border-radius: 5% 5% 50% 50%;
}

.content .projectwrapper .project2 {
	order: 2;
	border-radius: 45% 5% 45% 5%;
	background-image: url("../images/nythack.JPG");
}

.content .projectwrapper .project3 {
	order: 3;
	border-radius: 20% 45% 20% 45%;
	background-image: url("../images/karma.JPG");
}

#karma {
	display: block;
	height: 200px;
	width: 200px;
	border-radius: 20% 45% 20% 45%;
}

#aboutme {
	display: block;
	height: 200px;
	width: 200px;
	border-radius: 5% 5% 50% 50%;
}

.end {
	width: 100%;
	height: 250px;
}

.end .flexwrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.end #twitter {
	height: 50px;
	width: 50px;
	display: 2;
}

.end #email {
	height: 60px;
	width: 60px;
	display: 3;
}

.end #hrleft {
	display: 1;
	width: 30%;
	height: 2px;
	margin-right: 3%;
}

.end #hrright {
	display: 4;
	width: 30%;
	height: 2px;
	margin-left: 3%;
}

.end h4 {
	margin-top: 10px;
	font-family: "Cedarville Cursive", sans-serif;
	font-size: 3em;
	text-align: center;
}
